:root {
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-sm: 0.75rem;
  --margin-md: 1rem;
  --margin-lg: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
}

html,
body {
  height: 100%;
  background: #fafafa;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
